*{
    font-size: 18px;
    font-style: oblique;
    text-align: justify;
    color:black;
}
body{
    background-color: khaki;
}
h1{
    text-align: center;
}

button{
    background-color:white;
}
img.imagen{
    padding: 1px;
    border-image-width:1px ;
    display:block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
