body{
    background-color: khaki;
}
*{
    font-size: 18px;
    font-style: oblique;
    text-align: justify;
    color: white;
}
button{
    background-color:black;
}
img.imagen{
    padding: 1px;
    border-image-width:1px ;
    display:block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
